

body {
    background:black;
    background-image: url("https://images.alphacoders.com/873/873595.jpg");
    background-size: 103%;
    height: 80%;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1);
}

main {
    display: flex;
    flex-direction: column;
    transform: rotatex(10deg);
    animation: rotateAngle 6s linear infinite;
    margin-left: 45%;
}

.button {
    margin-top: 60%;
    position: absolute;
    background-color: transparent;
    border: 2px solid #2e2e2e;
    cursor: pointer;
    letter-spacing: 0.2125rem;
    line-height: 1;
    overflow: hidden;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 
        background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
        border 1s cubic-bezier(0.19, 1, 0.22, 1),
        color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
    color: black;
    font-family: "Varela Round";
    text-decoration: none;
    white-space: nowrap;
}


.button .mask {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
}

.button .shift {
    display: inline-block;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    vertical-align: text-top;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background-color: #fff;
    transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
    transform: translateX(5px);
}

.button:active {
    background-color: #fff;
}

.button:active a {
    color: #202020;
}

img {
    position: fixed;
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
    margin-top: -30px;
    margin-left: 30px;
}







