@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

html {
    height: calc(100% - 3px);
}
body {
    background:black;
    background-image: url("http://static.tumblr.com/lxn1yld/Hnxnxaqya/space.gif");
    height: 100%;
    margin: 0;
}

svg {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.link {
    fill: black;
    stroke: #666;
    stroke-width: 2px;
}

.node rect {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.text {
    font: 30px sans-serif;
    pointer-events: none;
}

form{
    z-index: 2;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    position:absolute;

    right: 5%;
    top: 14%;

}

body img{ 
    position:fixed;
    width: 35%; 
    height: auto;
    margin-left:68%;
    margin-top: -3% ;
}

legend {
    position:fixed;
    width: 150px;
    color: black;
    border: 1px;
    border-style: double;
    padding: 3px 6px;
    position: relative;
    top: -6px;
    fill: white;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.output {
    font: 1rem 'Fira Sans', sans-serif;
}
input {
    margin: .4rem;
}
label {
    cursor: pointer;
    color: #555;
    font-weight: bold;

}
label[for^=transformation] {
    color: royalblue;
}
label[for^=family] {
    color: pink;
}
label[for^=create] {
    color: tomato;
}
label[for^=alliance] {
    color: green;
}

label[for^=fight] {
    color: black;
}

.lightning{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://img1.wallspic.com/previews/4/3/7/5/5/155734/155734-goku-zamasu-vegeta-gohan-dragon_ball-x750.jpg');*/
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: brightness(3);
  filter: brightness(1);
  -o-filter: brightness(1);
  -moz-filter: brightness(1);
  z-index: -1;
}

/*Now just a opacity animation*/
.flashit{
-webkit-animation: flash ease-out 7s infinite;
-moz-animation: flash ease-out 7s infinite;
animation: flash ease-out 7s infinite;
animation-delay: 0s;
}

@-webkit-keyframes flash {
    from { opacity: 0; } 
  92% { opacity: 0; }
    93% { opacity: 0.6; }
  94% { opacity: 0.2; }
  96% { opacity: 0.9; } 
    to { opacity: 0; }
}

@keyframes flash {
    from { opacity: 0; } 
    92% { opacity: 0; }
    93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
    to { opacity: 0; }
}
.link.transformation {
    fill: black;
    stroke: royalblue;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.transformation {
    opacity: 1 !important;
    stroke: royalblue !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}



.link.create {
    fill: black;
    stroke: tomato;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.create {
    opacity: 1 !important;
    stroke: tomato !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}


.link.family {
    fill: black;
    stroke: pink;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.family {
    opacity: 1 !important;
    stroke: pink !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}

.link.fight {
    fill: black;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity:0.5;
}


.highlight.fight {
    opacity: 0.8 !important;
    stroke: black !important;
    stroke-width: 8px !important;
    stroke-opacity: 0.5 !important;
}

.link.alliance {
    fill: black;
    stroke: green;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.alliance {
    opacity: 1 !important;
    stroke: green !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}


.btn {
    z-index:4;
    padding: 0;
    list-style-type: none;
}

.btn .one {
    z-index: 4;
    margin-left: 82%;
    margin-top: 22%;
    font-size: 13px;
    width: 8em;
    height: 2em;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    position: fixed;
    background: transparent;
}

.btn .one::before,
.btn .one::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.btn .one::before {left: 0; z-index: -1;}
.btn .one::after {right: 0; z-index: -2;}

.btn .one:hover {
    color: darkorange;
    border-left-color: darkorange;
    border-bottom-color: darkorange;
    border-top-color: darkorange;
    border-right-color: darkorange;
  -webkit-transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.btn .one:hover::before,
.btn .one:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
   
}

.btn .one:hover::before {
    top: 0;
}

.btn .one:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}

.btn .two {
    z-index: 4;
    margin-left: 82%;
    margin-top: 25%;
    font-size: 13px;
    width: 8em;
    height: 2em;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    position: fixed;
    background: transparent;
}

.btn .two::before,
.btn .two::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.btn .two::before {left: 0; z-index: -1;}
.btn .two::after {right: 0; z-index: -2;}

.btn .two:hover {
    color: blue;
    border-left-color: blue;
    border-bottom-color: blue;
    border-top-color: blue;
    border-right-color: blue;
  -webkit-transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;

}

.btn .two:hover::before,
.btn .two:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    
}

.btn .two:hover::before {
    top: 0;
}

.btn .two:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}

.btn .three {
    z-index: 4;
    margin-left: 82%;
    margin-top: 28%;
    font-size: 13px;
    width: 8em;
    height: 2em;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    position: fixed;
    background: transparent;
    
}

.btn .three::before,
.btn .three::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);

}

.btn .three::before {left: 0; z-index: -1;}
.btn .three::after {right: 0; z-index: -2;}

.btn .three:hover {
    color: red;
     border-left-color: red;
    border-bottom-color: red;
    border-top-color: red;
    border-right-color: red;
  -webkit-transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  
}

.btn .three:hover::before,
.btn .three:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
   
}

.btn .three:hover::before {
    top: 0;
}

.btn .three:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}
.btn .four {
    z-index: 4;
    margin-left: 77%;
    margin-top: 31%;
    font-size: 13px;
    width: 8em;
    height: 2em;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    position: fixed;
    background: transparent;
}

.btn .four::before,
.btn .four::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.btn .four::before {left: 0; z-index: -1;}
.btn .four::after {right: 0; z-index: -2;}

.btn .four:hover {
    color: grey;
    border-left-color: grey;
    border-bottom-color: grey;
    border-top-color: grey;
    border-right-color: grey;
  -webkit-transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.btn .four:hover::before,
.btn .four:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
   
}

.btn .four:hover::before {
    top: 0;
}

.btn .four:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}

.btn .five {
    z-index: 4;
    margin-left: 87%;
    margin-top: 31%;
    font-size: 13px;
    width: 8em;
    height: 2em;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transition: 0.5s;
    position: fixed;
    background: transparent;
}

.btn .five::before,
.btn .five::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

.btn .five::before {left: 0; z-index: -1;}
.btn .five::after {right: 0; z-index: -2;}

.btn .five:hover {
    color: darkgreen;
    border-left-color: darkgreen;
    border-bottom-color: darkgreen;
    border-top-color: darkgreen;
    border-right-color: darkgreen;
  -webkit-transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.btn .five:hover::before,
.btn .five:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    
}

.btn .five:hover::before {
    top: 0;
}

.btn .five:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}
div audio {
    position: fixed;
    margin-left: 71%;
    margin-bottom: 10px;
    bottom: 0;
}
