@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

html {
    height: calc(100% - 3px);
}
body {
    background:black;
    background-image: url("http://static.tumblr.com/lxn1yld/Hnxnxaqya/space.gif");
    height: 100%;
    margin: 0;
}

svg {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.link {
    fill: black;
    stroke: #666;
    stroke-width: 2px;
}

.node rect {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.text {
    font: 30px sans-serif;
    pointer-events: none;
}

form{
    z-index: 2;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    position:absolute;

    right: 5%;
    top: 30%;

}

body img{ 
    position:fixed;
    width: 35%; 
    height: auto;
    margin-left:68%;
    margin-top: -3% ;
}

legend {
    position:fixed;
    width: 150px;
    color: black;
    border: 1px;
    border-style: double;
    padding: 3px 6px;
    position: relative;
    top: -6px;
    fill: white;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.output {
    font: 1rem 'Fira Sans', sans-serif;
}
input {
    margin: .4rem;
}
label {
    cursor: pointer;
    color: #555;
    font-weight: bold;

}
label[for^=transformation] {
    color: royalblue;
}
label[for^=family] {
    color: pink;
}
label[for^=create] {
    color: tomato;
}
label[for^=alliance] {
    color: green;
}

label[for^=fight] {
    color: black;
}

.lightning{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: url('https://img1.wallspic.com/previews/4/3/7/5/5/155734/155734-goku-zamasu-vegeta-gohan-dragon_ball-x750.jpg');*/
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: brightness(3);
  filter: brightness(1);
  -o-filter: brightness(1);
  -moz-filter: brightness(1);
  z-index: -1;
}

/*Now just a opacity animation*/
.flashit{
-webkit-animation: flash ease-out 7s infinite;
-moz-animation: flash ease-out 7s infinite;
animation: flash ease-out 7s infinite;
animation-delay: 0s;
}

@-webkit-keyframes flash {
    from { opacity: 0; } 
  92% { opacity: 0; }
    93% { opacity: 0.6; }
  94% { opacity: 0.2; }
  96% { opacity: 0.9; } 
    to { opacity: 0; }
}

@keyframes flash {
    from { opacity: 0; } 
    92% { opacity: 0; }
    93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
    to { opacity: 0; }
}
.link.transformation {
    fill: black;
    stroke: royalblue;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.transformation {
    opacity: 1 !important;
    stroke: royalblue !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}



.link.create {
    fill: black;
    stroke: tomato;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.create {
    opacity: 1 !important;
    stroke: tomato !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}


.link.family {
    fill: black;
    stroke: pink;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.family {
    opacity: 1 !important;
    stroke: pink !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}

.link.fight {
    fill: black;
    stroke: black;
    stroke-width: 4px;
    stroke-opacity:0.5;
}


.highlight.fight {
    opacity: 0.8 !important;
    stroke: black !important;
    stroke-width: 8px !important;
    stroke-opacity: 0.5 !important;
}

.link.alliance {
    fill: black;
    stroke: green;
    stroke-width: 2px;
    stroke-opacity:0.5;
}


.highlight.alliance {
    opacity: 1 !important;
    stroke: green !important;
    stroke-width: 4px !important;
    stroke-opacity: 1 !important;
}

.btn{
    position: fixed;
    bottom: 0;
    width: auto;
    margin-bottom: 3%;
    margin-left: 2%;
}

.btn .one {
    color: white;
    border: 1px solid;
    background-color: transparent;
    background: url(https://img.favpng.com/5/19/21/kinto-un-goku-dragon-ball-gohan-cloud-png-favpng-hzV3YWhYvmTqtdGpTdrvpXCFH.jpg) 1pxno-repeat;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: 300;
    color: #4cc9f0;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px $button-color-shadow;
    transition: all 0.5s ease-in-out;
}

    
    .btn .one::before{
      dislpay: block;
      content:"";
      position: absolute;
      width: 20px;
      height: 100%;
      left: -20px;
      top: 10px;
      background: $button-color-border;
      transform: rotate(0deg) skewY(-45deg); 
    }
      
    .btn .one::after{
        dislpay: block;
        content:"";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        transform: rotate(0deg) skewX(-45deg); 
        background: $button-color-border;
        transform: rotate(45deg) scewY(-45deg);
    }

.btn .two {
    color: white;
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: 300;
    color: #f038ff;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px $button-color-shadow;
    transition: all 0.5s ease-in-out; 
}

.btn .two::before{
      dislpay: block;
      content:"";
      position: absolute;
      width: 20px;
      height: 100%;
      left: -20px;
      top: 10px;
      background: $button-color-border;
      transform: rotate(0deg) skewY(-45deg); 
    }
      
.btn .two::after{
        dislpay: block;
        content:"";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        transform: rotate(0deg) skewX(-45deg); 
        background: $button-color-border;
        transform: rotate(45deg) scewY(-45deg);
}

.btn .three {
    color: white;
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: 300;
    color: #b9e769;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px $button-color-shadow;
    transition: all 0.5s ease-in-out; 
}
.btn .three::before{
      dislpay: block;
      content:"";
      position: absolute;
      width: 20px;
      height: 100%;
      left: -20px;
      top: 10px;
      background: $button-color-border;
      transform: rotate(0deg) skewY(-45deg); 
    }
      
.btn .three::after{
        dislpay: block;
        content:"";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        transform: rotate(0deg) skewX(-45deg); 
        background: $button-color-border;
        transform: rotate(45deg) scewY(-45deg);
}

.btn .four {
    color: white;
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: 300;
    color: #808080;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px $button-color-shadow;
    transition: all 0.5s ease-in-out;
}

.btn .four::before{
      dislpay: block;
      content:"";
      position: absolute;
      width: 20px;
      height: 100%;
      left: -20px;
      top: 10px;
      background: $button-color-border;
      transform: rotate(0deg) skewY(-45deg); 
    }
      
.btn .four::after{
        dislpay: block;
        content:"";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        transform: rotate(0deg) skewX(-45deg); 
        background: $button-color-border;
        transform: rotate(45deg) scewY(-45deg);
}

.btn .five {
    color: white;
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 20px;
    font-weight: 300;
    color: #008000;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px $button-color-shadow;
    transition: all 0.5s ease-in-out;

}

.btn .five::before{
      dislpay: block;
      content:"";
      position: absolute;
      width: 20px;
      height: 100%;
      left: -20px;
      top: 10px;
      background: $button-color-border;
      transform: rotate(0deg) skewY(-45deg); 
    }
      
.btn .five::after{
        dislpay: block;
        content:"";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        transform: rotate(0deg) skewX(-45deg); 
        background: $button-color-border;
        transform: rotate(45deg) scewY(-45deg);
}
.btn:hover {
  color: white;
  border: 0;
}

.btn .one:hover {
  background-color:transparent;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 130px 50px rgba(76,201,240,1);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px 
}

.btn .two:hover {
  background-color:transparent;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
  box-shadow: 10px 10px 130px 50px rgba(240, 56, 255, 1);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px 
}

.btn .three:hover {
  background-color:transparent;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 130px 50px rgba(185, 231, 105, 1);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px
}

.btn .four:hover {
  background-color:transparent;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 130px 50px rgba(76,201,240,1);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px
}

.btn .five:hover {
  background-color:transparent;
  -webkit-box-shadow: 10px 10px 99px 6px rgb(60, 179, 113);
  -moz-box-shadow: 10px 10px 99px 6px rgb(60, 179, 113);
  box-shadow: 10px 10px 130px 50px rgb(60, 179, 113);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px
}


div audio {
    position: fixed;
    margin-left: 71%;
    margin-bottom: 10px;
    bottom: 0;
}
